<h2>Angular</h2>

<div class="container">
  <div class="col-5">
    <form [formGroup]="form" (ngSubmit)="add()">
      <div class="form-group" [formGroup]="form">
        <ip-text formControlName="range" ngDefaultControl></ip-text>
        <ip-text formControlName="name"></ip-text>
        <ip-select formControlName="state" [values]="states"></ip-select>

        <input type="submit" [disabled]="form.invalid">
      </div>
    </form>

    <pre>
      {{form.value | json}}
    </pre>

    <ul class="heroes">
      <li *ngFor="let item of items | async">
        <!-- <a routerLink="/detail/{{item.id}}"> -->
        <a routerLink="/item/{{item.id}}">
          {{item.name}}
        </a>
        <!-- </a> -->
        <button class="delete" title="delete item" (click)="delete(item)">x</button>
      </li>
    </ul>

  </div>
</div>
